body {
  background-color:#eeeeee;
  font-family: "Roboto", "Open Sans", "Verdana", "Georgia", "Serif";
}

div#lpane, div#rpane {
  float: left;
  width: 50%;
}

#debugmessage {
  font-family: "GNU Unifont", "Roboto Mono", "Ubuntu Mono", "Monospace";
  font-size: 12px;
}

#progress {
  width:80px;
  margin-left:8px;
}

#casticonactive {
  float:right;
  margin:5px;
  display:none; 
}

#casticonidle {
  float:right;
  margin:5px;
  display:block; 
}

