body {
  font-family: "Roboto", "Open Sans", "Verdana", "Georgia", "Serif";
  margin: 0;
  padding: 0;
}

div#left {
  background: #333;
  color: #0f0;
  font-family: "GNU Unifont", "Roboto Mono", "Ubuntu Mono", "Monospace";
  font-size: 12px;
  padding-left: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
}

div#right {
  background: #eee;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 100%;
}

#debugmessage {
  background: #333;
  border: 0;
  color: #0f0;
}

#progress {
  width:80px;
  margin-left:8px;
}

#casticonactive {
  float:right;
  margin:5px;
  display:none; 
}

#casticonidle {
  float:right;
  margin:5px;
  display:block; 
}

